.error {
  display: flex;
  align-items: center;
  padding: 0.3rem 50px;
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;
  z-index: 99999;
  background-color: #ff0101c7;

  @media screen and (max-width: 480px) {
    padding: 0.3rem 10px;
  }
  p {
    flex: 1;
    color: white;
    font-weight: bold;
  }

  button {
    background-color: white;
    border: none;
    border-radius: 50%;
    color: black;
    height: 1.2rem;
    width: 1.2rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;

    &:hover,
    &:active {
      background-color: lightgray;
    }
  }
}
