@import "variables";

.cart {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;

  .productList {
    width: 65%;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    flex-grow: 1;

    .item {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 1rem;
      border-bottom: 1px solid lightgray;

      @media screen and (max-width: 480px) {
        padding: 1rem 0.5rem;
      }

      &:last-child {
        border: none;
      }

      img {
        height: 150px;
        width: 150px;
        object-fit: contain;
      }

      .info {
        flex: 1;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        min-width: 60%;

        a {
          text-decoration: none;
          color: initial;
        }

        h5 {
          margin: 5px 0;
          font-size: 1rem;
        }
        h6 {
          margin: 5px 0;
          font-size: 1rem;
          color: $secondary-color;
        }

        .quantity {
          padding: 1rem 0;

          button {
            border-radius: 50%;
            height: 1.5rem;
            width: 1.5rem;
            background-color: $primary-color;
            border: none;
            color: white;
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
            padding: 0.25rem 0;

            &:hover,
            &:active {
              background-color: $primary-color-dark;
            }
          }

          span {
            margin: 0 10px;
          }
        }

        button {
          background-color: $secondary-color;
          border: none;
          border-radius: 5px;
          color: white;
          font-size: 1rem;
          font-weight: bold;
          cursor: pointer;
          padding: 0.5rem 1rem;
          align-self: flex-end;

          &:hover,
          &:active {
            background-color: $secondary-color-dark;
          }
        }

        .footer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;

          .item-total {
            display: flex;
            gap: 10px;
          }
        }
      }
    }
  }

  .total {
    width: 30%;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
    min-width: 250px;
    flex-grow: 1;

    .li {
      list-style: none;
      padding: 10px;
      display: flex;
      justify-content: space-between;

      .num {
        font-weight: bold;
      }
    }

    button {
      padding: 1rem;
      background-color: $primary-color;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      width: 100%;
      margin-top: 2rem;

      &:hover,
      &:active {
        box-shadow: inset 0px 0px 3px black;
        background-color: $primary-color-dark;
      }
    }
  }
}

.emptyCart {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1rem;
    color: gray;
  }
}
