@import "../../styles/variables";

.spinner {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

@for $i from 1 through 3 {
  .spinner .dot:nth-child(#{$i}) {
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    background-color: $secondary-color;
    animation: scale 1s infinite #{($i * 200)}ms ease-in-out;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.7);
  }
}
