@import "../../styles/variables";

.seeMore {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  // border-radius: 50%;
  // background-color: lightgray;

  a {
    text-decoration: none;
    text-align: center;
    color: $secondary-color;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
