$primary-color: #0275d8;
$primary-color-dark: #0059a7;

@import "../../styles/variables";

.addToCart {
  padding: 1rem;
  background-color: $primary-color;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  z-index: 999;
  cursor: pointer;

  &:hover,
  &:active {
    box-shadow: inset 0px 0px 3px black;
    background-color: $primary-color-dark;
  }
  &:disabled {
    background-color: lightgray !important;
    color: grey !important;
    cursor: not-allowed !important;
  }
}
